<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir5FEC1AB9733DE7A0A5357C351B307E87" Name="dist" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PDFrotateFiles">
            <Component Id="cmp4AA179E0009C2D2BA6702BF28FA75094" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{8250EF39-0A61-4AE4-B8C2-08EA149CF653}">
                <File Id="filC8C952D2682022BA59064B0D51E28684" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-console-l1-1-0.dll" />
            </Component>
            <Component Id="cmp35F98AF088DDAA593EE2326A8CE2B5E4" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{DD4E2F47-759D-4A4D-82EA-8F5D60EB3EA3}">
                <File Id="filC312E4F7F4C8190E9D1F5D92462D6EE8" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-datetime-l1-1-0.dll" />
            </Component>
            <Component Id="cmpE705C5FDA261A4734E2D35504AC1F32C" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{5F8D03CF-0F5E-4638-B04B-AFE54FA86CC8}">
                <File Id="filAA3F08411C0B742BC8AA858AD113073E" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-debug-l1-1-0.dll" />
            </Component>
            <Component Id="cmp3BF79E95BFB46ECDBEF6B15D5CD39C9A" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{02120B4D-CC47-4007-B637-E6CEAE56B5AE}">
                <File Id="fil8B4FC3FF9449989C8CB621781B4DBA22" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-errorhandling-l1-1-0.dll" />
            </Component>
            <Component Id="cmpCD97CAD7B04A4F94333BDEABB26A9E5E" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{8C042ECA-05A6-4287-A0E8-D93F8A96D82A}">
                <File Id="fil7077236E21275D1CCA3D6B8C881155A9" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-file-l1-1-0.dll" />
            </Component>
            <Component Id="cmp0EB5A360832E3E560023040ABB83A9AE" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{8737FEEA-248C-4649-A2CC-C34158E8F3FE}">
                <File Id="fil76916D547A333FF32CA6B0B8F74EC2D0" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-file-l1-2-0.dll" />
            </Component>
            <Component Id="cmpBF13FE6DD40C678D278A09011CEEAEB0" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{F5673BCF-58E6-4B7C-8D38-C8BF45942C92}">
                <File Id="fil59FCE9C2643B942BCBA38C40C2E8D474" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-file-l2-1-0.dll" />
            </Component>
            <Component Id="cmp1AD64FE0ACFEB999EC06A571BF1282C9" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{A1134C8B-BC00-4B94-9471-F79F9689545C}">
                <File Id="fil3E6481E69197358FEAD71980E73F4115" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-handle-l1-1-0.dll" />
            </Component>
            <Component Id="cmpFB674EF657D5157806B3F07AD7DFC3AB" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{936D08F4-95F1-496F-BFD7-E94C18D63BA7}">
                <File Id="fil49AA4DF3411D85868DF0033A925A214A" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmp9FD5FEC255F1B126069B18DB99B80B10" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{9C9F0B51-8194-44B3-92C6-038A55C2F18A}">
                <File Id="fil11EA38D8B2D1BB68EE24333CE92E04ED" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-interlocked-l1-1-0.dll" />
            </Component>
            <Component Id="cmpAB4FFFC47831CD98ED025F57D3AEC370" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{CA859330-3464-48AC-AA63-18860E896AB8}">
                <File Id="filF653A067246624401BA29B74E6EB6A1B" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-libraryloader-l1-1-0.dll" />
            </Component>
            <Component Id="cmp90332B8F9CD86262BC688190AA65040A" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{7CFED49D-21F9-4C84-9E99-E808F8608209}">
                <File Id="fil637C517AD584C108FBF210F2D8BED9DD" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-localization-l1-2-0.dll" />
            </Component>
            <Component Id="cmp99A35999A135A131023BF4304A0CD803" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{23E666A3-C53A-4961-A5BC-EDAF3C064DCB}">
                <File Id="fil6E15BE36D277A5089B2D89606FF61745" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-memory-l1-1-0.dll" />
            </Component>
            <Component Id="cmpA1D62AE214C6757A99E900BEF5712D18" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{BED9B426-7411-42DB-9FE7-BA8A30C4D4CB}">
                <File Id="filB57ADA8C8449B0520813F9E603C43CC8" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-namedpipe-l1-1-0.dll" />
            </Component>
            <Component Id="cmp4260D22AAE831E19CDA881A13D08651D" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{8D7E1702-37E4-44AF-8327-762400EE9E04}">
                <File Id="fil619CFA3212581F46399F86A9E6161D1D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-processenvironment-l1-1-0.dll" />
            </Component>
            <Component Id="cmp75F1377ED9858F7DA99F5571C3172358" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{00EC0757-5DB1-40A8-95D8-F25D017C887F}">
                <File Id="fil93383B41365FF51E8372A553BE26C099" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-processthreads-l1-1-0.dll" />
            </Component>
            <Component Id="cmpFDF44C5F6DF75B834AEA6562D58623C4" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{D57491A7-FE88-492F-98C0-3000BA7394E2}">
                <File Id="filCFB6856FBEB70809563B426501A6D153" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-processthreads-l1-1-1.dll" />
            </Component>
            <Component Id="cmpE694F6EBC021C0502ACE731798F72BFA" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{36C5E2E5-1805-49A0-AF16-5E2D4478E4F1}">
                <File Id="fil9B8DC48FBC04D30142EC2AA24771229A" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-profile-l1-1-0.dll" />
            </Component>
            <Component Id="cmpBA3EB2214FC437BCD1BDE6BFCBA7DE60" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{7E195521-5E6A-4D4E-B7D1-11F94C472DEA}">
                <File Id="fil5A4B46515BE6C26BA6BA00B32F9837C0" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-rtlsupport-l1-1-0.dll" />
            </Component>
            <Component Id="cmp47F9A0165C2B629299E606EEB39C82DC" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{E9F47941-F18A-47B3-88DC-3546671562A8}">
                <File Id="fil4ABDA47F67C94DE8DCF2E6C838BF0315" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmp320FFC4AA51821BA399EBF178BB23C2A" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{E4A8D525-989D-4FD6-8F49-F097E34FA9D8}">
                <File Id="fil45EFF08747F9C82407B5DDBDBC372A9E" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-synch-l1-1-0.dll" />
            </Component>
            <Component Id="cmp99291D8826D36B84F9AD17B461C16374" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{0EC631D1-68F3-471B-9FAB-9D8CE66FFD6B}">
                <File Id="fil09A168F369D7E69031D1F5002577AC45" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-synch-l1-2-0.dll" />
            </Component>
            <Component Id="cmp0DB66FD79844F036226166A79C65D201" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{22AC26EC-55CF-41F2-9723-7777C1136C7B}">
                <File Id="filEAE67AEC12AA1E171CE8430D81966186" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-sysinfo-l1-1-0.dll" />
            </Component>
            <Component Id="cmpA22AF20E62A6DD58BCF81C44479C8EC4" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{1E2871E2-FB83-4C28-ADA6-75D4D79E0154}">
                <File Id="fil882DA86173C75254F8B3861417215C44" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-timezone-l1-1-0.dll" />
            </Component>
            <Component Id="cmp42E504862602F8BF8CDD7D90F864F1FF" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{9216D258-43FF-4E27-917E-54C9F3634D8A}">
                <File Id="fil2DAD8D85DC95DBE7637A5FB8DCBBE9A0" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-util-l1-1-0.dll" />
            </Component>
            <Component Id="cmp9776543C5CD444093093992D552B695F" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{855AD052-4EDC-40E3-ABE2-13851AB13C97}">
                <File Id="fil55B47F8F8DA015891F37EBCD53EC9CF5" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-conio-l1-1-0.dll" />
            </Component>
            <Component Id="cmp62EB745AB4DB663E165485056D2860DB" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{53EE9140-BE11-4361-8BD5-A1D0EFC51649}">
                <File Id="fil182F589D7FBA903E903B31E3DA49CA5D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-convert-l1-1-0.dll" />
            </Component>
            <Component Id="cmpCAD8CBE4BB2CBC2E74A386019BC5C78F" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{6B49CB6F-6075-477C-BEF8-209641855A5A}">
                <File Id="filCE9C7561C2205846E89997463B666612" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-environment-l1-1-0.dll" />
            </Component>
            <Component Id="cmpD5AFAF345AA4B423C841697AC0BFE1B3" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{C37487E2-1FDA-4AB1-90FA-47CBA0CB9650}">
                <File Id="fil462A7EDA632F06A832E9F899764E1521" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-filesystem-l1-1-0.dll" />
            </Component>
            <Component Id="cmp0BFEED1AC096CC1FBA1081DE272A2667" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{B7B81102-00B2-4694-977B-DB3525354327}">
                <File Id="fil15EDA1D47A157CA4B4CCF3F047BD597E" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmpEE359DD171AABCD5EC160962EA6A8232" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{2C33E21B-60C7-4D32-B1EB-EBE697747A07}">
                <File Id="fil92D226A2D1960FC29BD8C7B052E76D69" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-locale-l1-1-0.dll" />
            </Component>
            <Component Id="cmpA773E300381D2F570773988DEDC9E0F7" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{AEE4A64A-0CB3-4BC9-BE23-29FA23E1597E}">
                <File Id="filD2F01EF20F4024FC4D319A1BB99AA447" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-math-l1-1-0.dll" />
            </Component>
            <Component Id="cmpC34880E72B9CC9ABE898D949E2F78075" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{E1B751E4-F792-4BAF-B654-CE501C7DE518}">
                <File Id="fil521F36D0CE88087FE9DD20D1A8935D8D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-process-l1-1-0.dll" />
            </Component>
            <Component Id="cmp52F0CF5D9A98684E59633BEB7D84449C" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{987C571D-EC9F-42C6-8325-093F363B390C}">
                <File Id="fil12B3484621C8F5821AAD453595873B95" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-runtime-l1-1-0.dll" />
            </Component>
            <Component Id="cmp56B83FB05CC18F217529503BAE63825E" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{C650B266-F783-4024-9967-E33C4D5D233F}">
                <File Id="fil042830C3D23885FEACF6AC5DB555271E" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-stdio-l1-1-0.dll" />
            </Component>
            <Component Id="cmpF3B492913F6F7049C12A1A5C3120C05F" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{D936AAD1-9207-4868-96E4-DE5C7602B019}">
                <File Id="fil48EDB08A603795A9D6851DBDB54EC7A0" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmp52CBF2914B1762C767E2089863468980" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{9600FCD5-7EB1-4286-8F5F-FBF9E71E9EC7}">
                <File Id="fil8D33C676BA190AB7E048B85F0E6789BD" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-time-l1-1-0.dll" />
            </Component>
            <Component Id="cmp9428927805961DF7A1E5D57D3FF17453" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{C0897EC1-787C-4901-99AD-15F91CCFC4B8}">
                <File Id="fil61354B913D8D81C634C99F348E4CEDC2" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-utility-l1-1-0.dll" />
            </Component>
            <Component Id="cmp20F9445B36EAAD3B67C46DB0CE4E3427" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{338CAFAB-ADA9-4DCB-AE69-E3591986A324}">
                <File Id="fil5DF6CFAB0ECB38381FFC1E8ADEDA3A3A" KeyPath="yes" Source="SourceDir\PDFrotate\base_library.zip" />
            </Component>
            <Component Id="cmp042260B9BE02CC4AE0320F98183B4951" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{353AAAC4-BF37-4E04-9B00-734A0CF037A7}">
                <File Id="fil0918CA54E2325C1D9CBB05E92FB2782F" KeyPath="yes" Source="SourceDir\PDFrotate\libcrypto-1_1.dll" />
            </Component>
            <Component Id="cmp8C4B579E57BC8809A4DD17117894D878" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{A42C1B76-9214-4F96-AEB3-C1F12DA09DB8}">
                <File Id="filBA58043D04D400F03F4E45CF413412E8" KeyPath="yes" Source="SourceDir\PDFrotate\libffi-8.dll" />
            </Component>
            <Component Id="cmp09E6CDA98FAF378CFF81296D6E763130" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{C09B9B43-A095-4340-B316-B45AC29D1D4E}">
                <File Id="filA8CFC8549E5B43A483BF60B7CE339D5A" KeyPath="yes" Source="SourceDir\PDFrotate\libssl-1_1.dll" />
            </Component>
            <Component Id="cmp8DB56FFD84C294D23896895C041A6309" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{AF5C1AAE-531E-41AB-945B-8E06AE31D103}">
                <File Id="filAEBBD1E6FCCA4B88FA7A7CF4D40B6CD6" KeyPath="yes" Source="SourceDir\PDFrotate\PDFrotate.exe" />
            </Component>
            <Component Id="cmpA3FC2615AB25889ACCEDCC267E86E8A7" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{8CFA1E3C-EA83-4F5C-B9E6-C6D26F46305F}">
                <File Id="fil2813C84610CC8F339605F14FF222ADC5" KeyPath="yes" Source="SourceDir\PDFrotate\pyexpat.pyd" />
            </Component>
            <Component Id="cmp40B7D7F01B674E17FC44EADE10628520" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{AEB267CD-F463-42B2-90C3-3CE4A2793C66}">
                <File Id="filC59DCFEF4D18ABD826D6BDF243DB9285" KeyPath="yes" Source="SourceDir\PDFrotate\python311.dll" />
            </Component>
            <Component Id="cmp722DAA7DFE186B7916C2EA0455B84256" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{FBCB5D52-AE28-417E-A7DE-DB9A8D90BEC9}">
                <File Id="fil07D590A6D2A954307DBDBC1DF92108A5" KeyPath="yes" Source="SourceDir\PDFrotate\select.pyd" />
            </Component>
            <Component Id="cmp101C5E8F8F4C2C939C5E48A1B3276D24" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{38704A68-A554-43CB-9164-6F69A7C8D262}">
                <File Id="fil9D19C7756F6D49C18D5B485A8B53F606" KeyPath="yes" Source="SourceDir\PDFrotate\ucrtbase.dll" />
            </Component>
            <Component Id="cmp51B30CF566EC43BC1340E8A5AA2557D3" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{170E1EC6-E78E-4321-8E59-C77FD325E08E}">
                <File Id="filCACEA1989A41F5825427C24705E341C8" KeyPath="yes" Source="SourceDir\PDFrotate\unicodedata.pyd" />
            </Component>
            <Component Id="cmp67E4157D8B348025562CA23D5D8279F3" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{86F557F7-4EB3-4C71-87E6-B254B8A02F7E}">
                <File Id="filAB2E07D2E5367D20E3B383EF375CFEB6" KeyPath="yes" Source="SourceDir\PDFrotate\VCRUNTIME140.dll" />
            </Component>
            <Component Id="cmpA284C674CCA1F168E128724010ADD8DB" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{4302AAE6-CE1B-433F-B82A-6FE5842ADB7A}">
                <File Id="filE27BFCBFAD8BF9ED9E4A55077CAC344D" KeyPath="yes" Source="SourceDir\PDFrotate\_asyncio.pyd" />
            </Component>
            <Component Id="cmpD8EAF3EDF6DEAB5E437B5D45D98ACF41" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{707898DB-1BD7-4173-B0E9-A60FAB65225D}">
                <File Id="fil14D5C2697A4E34C3764675B8EFEB473C" KeyPath="yes" Source="SourceDir\PDFrotate\_bz2.pyd" />
            </Component>
            <Component Id="cmp87DC749F2B3CF43338191AB0899A2366" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{84FF1C06-0A92-4A3F-BD35-F8C5260C6C91}">
                <File Id="filDC3F02316C68419385961EEE93C9DD78" KeyPath="yes" Source="SourceDir\PDFrotate\_ctypes.pyd" />
            </Component>
            <Component Id="cmpA8096CCCDE3F7A8A02AB1B271C812C24" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{6A4F4942-13AD-4115-BB10-F5A29FD8B8CF}">
                <File Id="fil02CCBBEC42F866575BFE3D232A6737E6" KeyPath="yes" Source="SourceDir\PDFrotate\_decimal.pyd" />
            </Component>
            <Component Id="cmpD2D00837201B701E40F7CE617586A700" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{3D11B9AB-7475-4CB9-9748-22F691558AA0}">
                <File Id="filC62B505FF0671506847647C3666C4456" KeyPath="yes" Source="SourceDir\PDFrotate\_hashlib.pyd" />
            </Component>
            <Component Id="cmpF543EB2C9DA44CFBB0B8A562952304C1" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{3C60E274-A6D3-48C0-9588-EEE5AAAEE459}">
                <File Id="fil98232D0F9AC85201E5978AD592F8484F" KeyPath="yes" Source="SourceDir\PDFrotate\_lzma.pyd" />
            </Component>
            <Component Id="cmp8C7FABB0A2738CF77EFD249967A2AFFF" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{532AABA6-F47B-4E7A-843D-CE617DB8371A}">
                <File Id="filD6FBC4DA477B7C2EEC23CC3AE73EE61D" KeyPath="yes" Source="SourceDir\PDFrotate\_multiprocessing.pyd" />
            </Component>
            <Component Id="cmp86E820E5D087C2466D79262F7EE45DA8" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{3902CC04-7DE6-4D62-AD1F-47A58C73AA3D}">
                <File Id="filEFA377FA53FA6AACC897503D4F82615F" KeyPath="yes" Source="SourceDir\PDFrotate\_overlapped.pyd" />
            </Component>
            <Component Id="cmpDF71A67E3C37C2CD61A12BB19125E292" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{3917E646-D354-4C6B-B8B6-AC92EC4180F4}">
                <File Id="fil8AE7F5859466798D5163018006484B71" KeyPath="yes" Source="SourceDir\PDFrotate\_queue.pyd" />
            </Component>
            <Component Id="cmp4A0F0BAD6901FBD9D5598D46EA82E4C4" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{D6FDA8B4-9F1C-45FC-93C3-01A1E922B583}">
                <File Id="filF68C250EC65982FD5004DC7B2D8DC9D6" KeyPath="yes" Source="SourceDir\PDFrotate\_socket.pyd" />
            </Component>
            <Component Id="cmpDA2650FF855887EC20D8ACFEA6035F4C" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{111E3395-6E6F-4AD8-87E1-9012B7E1B69D}">
                <File Id="filE08059C50788F4F33812403D0D36587A" KeyPath="yes" Source="SourceDir\PDFrotate\_ssl.pyd" />
            </Component>
            <Component Id="cmp6D4CE0FF6217330FE5F60BE868F94D16" Directory="dirA9B85F8AB452DCBE2B2BF385C951CF77" Guid="{6317A8AA-8E5E-4B7F-AFCA-486DC37D314B}">
                <File Id="fil3C95ECF1D18932D6B79DECDC2798B7B6" KeyPath="yes" Source="SourceDir\PDFrotate\_uuid.pyd" />
            </Component>
            <Component Id="cmpFB266522F4AC21993636A7A60F8A63C1" Directory="dir598886E88D437EA9CDFDAEDCD9BF8A33" Guid="{32C85807-3269-4682-A8F7-6D348CC9DCF9}">
                <File Id="filF7E422F8668285D8462662FF8BA53ADB" KeyPath="yes" Source="SourceDir\PDFrotate\certifi\cacert.pem" />
            </Component>
            <Component Id="cmpD12ECDA5567D892AE3BA57F9E99C8C4A" Directory="dir598886E88D437EA9CDFDAEDCD9BF8A33" Guid="{66D2A9B9-C2E1-4E16-9AC4-D2A88C5CB431}">
                <File Id="fil8CEAC8C51AD764B9E1196A2FAE6EF840" KeyPath="yes" Source="SourceDir\PDFrotate\certifi\py.typed" />
            </Component>
            <Component Id="cmpDC104A3225FA3BEAFB0BBD13F883E84F" Directory="dir8D4702BC009EB4D9137E143831B19BE6" Guid="{F863D420-BDCB-4088-AB2C-4180EE03F2C3}">
                <File Id="fil7A6BAAA403D107B2B7D21A53601E2B83" KeyPath="yes" Source="SourceDir\PDFrotate\fitz\_fitz.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmp1E05729CA1EF9C7CB0D91DCEA8273A78" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{ED2F24E8-BCD3-48B7-8450-EE45AC3ADD18}">
                <File Id="fil10D29BCB33F59F3134F4FAD34B16A043" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\audioplayers_windows_plugin.dll" />
            </Component>
            <Component Id="cmp12C8F4BB90090EA02E42E54B469FE79D" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{98F38360-C927-46B6-9670-8582601EC76F}">
                <File Id="filB05C9A919EF3DB6648796473FC1831E8" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\flet.exe" />
            </Component>
            <Component Id="cmp22959720AEEB394E406190DA56544B3A" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{CB9C2C0E-0897-4CB1-8E7B-D3E1A36287BC}">
                <File Id="filA3F09A18937CCE5342FA9322B9F996DD" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\flutter_windows.dll" />
            </Component>
            <Component Id="cmp92B5628EB5A181870D660E18D911870A" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{AE467B60-8D64-4440-89D3-3ACCADEC55F5}">
                <File Id="filC5BBD22F3215D88B0A72D7D9C85ED02A" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\msvcp140.dll" />
            </Component>
            <Component Id="cmp17C533280EA705E224D6027DA75DA3E1" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{E61445CC-B950-42AE-8686-DA8D2133567F}">
                <File Id="fil98BDCFB5DF3872DA7A087C41C68F287F" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\screen_retriever_plugin.dll" />
            </Component>
            <Component Id="cmp9F7524ED4D7083CEED1800FD64D735A7" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{20E063F5-A8A9-4469-914B-14858AD3EE01}">
                <File Id="fil2615A1F717238B821FE83FF6A227E258" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\url_launcher_windows_plugin.dll" />
            </Component>
            <Component Id="cmpA25698F9D5B345C88EFF810B2B606CA0" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{52C7171F-7B8B-4B91-94A2-922A7AC9828F}">
                <File Id="fil768BDFDAB1DB5238B5ADE224F618EDC7" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\vcruntime140.dll" />
            </Component>
            <Component Id="cmpCEB4F101A9644B5141E48827C4897A58" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{8C282231-F251-4969-B5D0-7A60C8B9F115}">
                <File Id="fil582435A6F893847F6EB1025DEAE8E584" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\vcruntime140_1.dll" />
            </Component>
            <Component Id="cmp442530484A2570B756FCA2BB38A7D7F4" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{D6DF310E-7FF9-489B-B527-588428BF82D4}">
                <File Id="fil1CE7C94013A28E14990C555608F67638" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\window_manager_plugin.dll" />
            </Component>
            <Component Id="cmp1760271A69709FD9BAE1665C019F9806" Directory="dir87DA4323C4B3AC37BB3DB444D2CF7952" Guid="{9A56E9B4-F307-495A-AE7A-5D75F1782071}">
                <File Id="fil3BEF976CB76E9ADCAFEF449389583F06" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\window_to_front_plugin.dll" />
            </Component>
            <Component Id="cmp7ECC605B02EC1221EBA98A982B75291A" Directory="dir56002CE3F4018CD6BC09FA2BF2CF0B9E" Guid="{F36D91D4-9BA4-4395-8592-6CD181ACAA9C}">
                <File Id="fil889176F83F62E43F13C86A52E9F157FD" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\app.so" />
            </Component>
            <Component Id="cmp6D739993AE0AB13A3D46D783DCFCDABB" Directory="dir56002CE3F4018CD6BC09FA2BF2CF0B9E" Guid="{BA3DF37A-DDCF-467F-A0D6-3DBA7EB5CC6A}">
                <File Id="fil5367B6B3B3A70353C06E930EB472FBBD" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\icudtl.dat" />
            </Component>
            <Component Id="cmpD71B671094A77F9CAA11657A38719023" Directory="dir7E031E4E841D8F400419BD7814B68CB4" Guid="{0859EAF2-0742-4F7E-A472-BA3855EE7CE2}">
                <File Id="filD13E6A07EABE1A872359F6BA67F5D44A" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\AssetManifest.json" />
            </Component>
            <Component Id="cmp4BEF47F65D45BDA6303AE614D6309EC5" Directory="dir7E031E4E841D8F400419BD7814B68CB4" Guid="{01284DF5-4A79-4B77-A822-5B7433EC2432}">
                <File Id="filACCD2327C921D2B115105C9484F2A02C" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\FontManifest.json" />
            </Component>
            <Component Id="cmpE962FC63CE64557C92E39F1BB9AB6921" Directory="dir7E031E4E841D8F400419BD7814B68CB4" Guid="{10FC2ED5-9F6D-4457-AE2D-A2484A347586}">
                <File Id="fil206C380FB6BA74A5504D78F8C470CE8E" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\NOTICES.Z" />
            </Component>
            <Component Id="cmp27DCD5439B13D13B6FB821F4905915D8" Directory="dirC541440758C022480CFA91E07F92C5A1" Guid="{1967819F-EF86-4946-9333-2B1E87E0ECA2}">
                <File Id="filB08152D6ABF0DAB61B6C053E37BCFEE1" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\fonts\MaterialIcons-Regular.otf" />
            </Component>
            <Component Id="cmp07F4BA202B1155648DA4C6CE087D15AB" Directory="dirE5565078DC64AD4E33D95B6762E21D71" Guid="{8961A45B-9800-4329-AC5A-5E08B9D40C98}">
                <File Id="filC115EB3EE5AAAD26980EFA8D52ED3E40" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_close.png" />
            </Component>
            <Component Id="cmp4F60B2A0D21B7FF5DAAFD911E9FD2256" Directory="dirE5565078DC64AD4E33D95B6762E21D71" Guid="{01AA3AA5-BE47-49C3-9DD5-1F3450D9CF73}">
                <File Id="fil328DE4CCFF1184541A5526DED669E615" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_maximize.png" />
            </Component>
            <Component Id="cmpE2863A8A699F422C0E3DC46FFF721F07" Directory="dirE5565078DC64AD4E33D95B6762E21D71" Guid="{E3C16745-6350-4123-B97A-18EDD7A12B49}">
                <File Id="fil5F3269CEAD765306E9FD98AD20CF6D0F" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_minimize.png" />
            </Component>
            <Component Id="cmpB8844D5BCA89C92E542EF820951F7B71" Directory="dirE5565078DC64AD4E33D95B6762E21D71" Guid="{C66958A2-8CE1-422B-BA63-2584092041D0}">
                <File Id="fil544C4E776A79AF4B06A264CB317304CA" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_unmaximize.png" />
            </Component>
            <Component Id="cmpE37990200AB995B4414A4E3B43323331" Directory="dir0B96F75F442AC3E0B791E4641581E7D2" Guid="{186343B6-84D8-4811-833B-6E48C31AF4EF}">
                <File Id="filEE43C37909D4641C77F8A329B792C20A" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\shaders\ink_sparkle.frag" />
            </Component>
            <Component Id="cmp1BE554E156517D049B7D5396B1C75633" Directory="dirCDCE7F8ACD6849CD6FC8CCDDC00CD0C7" Guid="{B141E004-3081-4E13-927A-629D510CCED4}">
                <File Id="filB231FDC6D5803ADF2CE12E7D3F8D919E" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_imaging.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmp7F393FBE60DCF110A6C24CAC147F2563" Directory="dirCDCE7F8ACD6849CD6FC8CCDDC00CD0C7" Guid="{CFD7193E-5368-4BFE-858C-074EFDBB9BAB}">
                <File Id="fil8604CAC5A03CC23DD406178DA65B8164" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_imagingcms.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpBBB655D8F4F0D148F784B8BD1F0FA2A7" Directory="dirCDCE7F8ACD6849CD6FC8CCDDC00CD0C7" Guid="{A725CDB2-9440-4295-9CDC-D12D3041B57B}">
                <File Id="fil33C14A0DEA4BFB57B063AE898C0BB96D" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_imagingtk.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpE1C46D34309B2DB16D8DBFAE61701B3F" Directory="dirCDCE7F8ACD6849CD6FC8CCDDC00CD0C7" Guid="{8BCEEE59-EA85-43C9-A6AC-527274A7D26C}">
                <File Id="fil1C7C98B1B5911EC582F0574A867626C0" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_webp.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpDD0B535A4AC30D680EFBBFFCFF0844FB" Directory="dirCD3A774A35FBBDAE1C6E2CFED4C820BA" Guid="{DE7484E7-3C88-4FE9-BA25-98F47D073A79}">
                <File Id="fil897D2BEB3B78E5E0B4306B869F4FFF45" KeyPath="yes" Source="SourceDir\PDFrotate\websockets\speedups.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmp647A03BC014E3C606D3C3EF83CC107F2" Directory="dir39817FECBBA4397AFAFE0BFEBE52936B" Guid="{3DC22FB0-7629-4196-8B9B-5CB26BDFFCAC}">
                <File Id="filCDBF4E365A629B046BA652FF5271A9EB" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\INSTALLER" />
            </Component>
            <Component Id="cmp2C09AE2B60425068DA7955E85B0743F3" Directory="dir39817FECBBA4397AFAFE0BFEBE52936B" Guid="{374A022E-BFAC-4694-AEAE-BA6C36894F63}">
                <File Id="fil3D5791648D999EB611DC9E4746F9B2B9" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\LICENSE" />
            </Component>
            <Component Id="cmpF43AF693E56EDCD29C0C17AB1B0E0AD9" Directory="dir39817FECBBA4397AFAFE0BFEBE52936B" Guid="{0CDAACC4-73F6-4524-B7B1-C7BC34B572AF}">
                <File Id="filE23D3A29D57E2E9DB962F1EB3E00F366" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\METADATA" />
            </Component>
            <Component Id="cmpED5C32E4CCFEB7AE9957E06B5236265B" Directory="dir39817FECBBA4397AFAFE0BFEBE52936B" Guid="{727030D2-5BEA-4379-818A-B82562E2A23F}">
                <File Id="filBCBE499F557FD06F9CB476D6451C90F9" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\RECORD" />
            </Component>
            <Component Id="cmp037FA8867592A4D27D7A0AA4A1C14B49" Directory="dir39817FECBBA4397AFAFE0BFEBE52936B" Guid="{2131C747-32B4-4A28-BC10-C534D8810E56}">
                <File Id="fil5EDAE3253D836142529235ED3E205E87" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\top_level.txt" />
            </Component>
            <Component Id="cmpB2D479CB5AC1386F32220EF9D9C937BB" Directory="dir39817FECBBA4397AFAFE0BFEBE52936B" Guid="{7DEE4D1E-418E-4AAF-9D04-61B580F9DB0B}">
                <File Id="fil865B111F684DBFF19E702D80DC9618FF" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\WHEEL" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7E031E4E841D8F400419BD7814B68CB4">
            <Directory Id="dir0B96F75F442AC3E0B791E4641581E7D2" Name="shaders" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7E031E4E841D8F400419BD7814B68CB4">
            <Directory Id="dir11EFB27C60CEA753859B5C09F689676C" Name="packages" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA9B85F8AB452DCBE2B2BF385C951CF77">
            <Directory Id="dir39817FECBBA4397AFAFE0BFEBE52936B" Name="websockets-10.4.dist-info" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir11EFB27C60CEA753859B5C09F689676C">
            <Directory Id="dir3B2F76A9DE63E3EBACAADDD0311304FC" Name="window_manager" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir87DA4323C4B3AC37BB3DB444D2CF7952">
            <Directory Id="dir56002CE3F4018CD6BC09FA2BF2CF0B9E" Name="data" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA9B85F8AB452DCBE2B2BF385C951CF77">
            <Directory Id="dir598886E88D437EA9CDFDAEDCD9BF8A33" Name="certifi" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA9B85F8AB452DCBE2B2BF385C951CF77">
            <Directory Id="dir67193376C22719228CF94C333E5D8407" Name="flet" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir67193376C22719228CF94C333E5D8407">
            <Directory Id="dir6D57CF08F7D70BEEC42AC77F8FD3ACFE" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir56002CE3F4018CD6BC09FA2BF2CF0B9E">
            <Directory Id="dir7E031E4E841D8F400419BD7814B68CB4" Name="flutter_assets" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir6D57CF08F7D70BEEC42AC77F8FD3ACFE">
            <Directory Id="dir87DA4323C4B3AC37BB3DB444D2CF7952" Name="flet" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA9B85F8AB452DCBE2B2BF385C951CF77">
            <Directory Id="dir8D4702BC009EB4D9137E143831B19BE6" Name="fitz" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir5FEC1AB9733DE7A0A5357C351B307E87">
            <Directory Id="dirA9B85F8AB452DCBE2B2BF385C951CF77" Name="PDFrotate" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir7E031E4E841D8F400419BD7814B68CB4">
            <Directory Id="dirC541440758C022480CFA91E07F92C5A1" Name="fonts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA9B85F8AB452DCBE2B2BF385C951CF77">
            <Directory Id="dirCD3A774A35FBBDAE1C6E2CFED4C820BA" Name="websockets" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dirA9B85F8AB452DCBE2B2BF385C951CF77">
            <Directory Id="dirCDCE7F8ACD6849CD6FC8CCDDC00CD0C7" Name="PIL" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3B2F76A9DE63E3EBACAADDD0311304FC">
            <Directory Id="dirE5565078DC64AD4E33D95B6762E21D71" Name="images" />
        </DirectoryRef>
    </Fragment>
</Wix>