<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Directory Id="dir54D9BBBBD641A9D28B652158A7865C91" Name="PDFrotate" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PDFrotate">
            <Component Id="cmpE266AA2FE4E51094A714871E6894F58A" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{30161546-5F94-414D-8857-F1B68ACDBE43}">
                <File Id="fil08A39A7E52326AA9A0894B6D16530F21" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-console-l1-1-0.dll" />
            </Component>
            <Component Id="cmp391C684FC4C7B8E23A7936D9FC7349D8" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{16EC29D0-3DB2-400B-9A89-3A67462DE08D}">
                <File Id="filCA456C5EB9812BAD0151E1F9780E840D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-datetime-l1-1-0.dll" />
            </Component>
            <Component Id="cmp79CB17A7B1E61799382670273CCEC775" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{A1AEBFE5-B67D-49F4-B81F-EF1C674598F0}">
                <File Id="filF92BB5ED47FAE7A73368D0558C0378A0" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-debug-l1-1-0.dll" />
            </Component>
            <Component Id="cmp9F253E832C67853D4C3B4055881B22BB" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{0B4C4776-D96B-4C23-8EED-916C2781C0C3}">
                <File Id="fil3AEDDD0D9B26EA0B5270F4743E57DF5A" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-errorhandling-l1-1-0.dll" />
            </Component>
            <Component Id="cmp47989C68CDAAD5F15316BA78493F0DCD" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{4F927E5C-53A6-4F35-87E3-7FEA9BC4D016}">
                <File Id="filBE8D568D2BE063347BDB2709DE746215" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-file-l1-1-0.dll" />
            </Component>
            <Component Id="cmp4CD5492AD165C5BC5DE776FC22344E0F" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{64375A30-FEBC-454F-8754-85D97DC5FD84}">
                <File Id="fil281BE38374B6D1B6336AF8D88DBF2C20" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-file-l1-2-0.dll" />
            </Component>
            <Component Id="cmp277A7859083B6489B08F06271DEF45FB" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{F359C852-8037-45C9-8395-6726F0B051CC}">
                <File Id="fil10C77ED52C8A35C9CB7BF6C1A42910CD" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-file-l2-1-0.dll" />
            </Component>
            <Component Id="cmp4B970BA7F76951461520FBAAB284F7AD" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{A4C55FF2-2D9B-486D-909D-E526EFDA63EB}">
                <File Id="fil04746070E92D031A35C119EFCDF274EC" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-handle-l1-1-0.dll" />
            </Component>
            <Component Id="cmpE0A1DE4910F804A110F7A4302648A333" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{31DE25D1-BEAF-487D-AAE8-C0C9B5598E7E}">
                <File Id="fil37AE4D4AE6E7176FEEFD7FF37A42037A" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmp8BDD79DBAF83F4D3B64CC885748EC012" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{D3F87478-62E2-428D-AB3A-D3B472C4C5C5}">
                <File Id="filB06B3D928F20FF3B22B4C226E566B9CA" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-interlocked-l1-1-0.dll" />
            </Component>
            <Component Id="cmp70E3C15280B5BA2270F2AE8A87F77AC6" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{7E26A08A-2382-4C59-8A78-DFEC0445C161}">
                <File Id="fil2032C3A4B39CCBAA02C95A07951B9BEE" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-libraryloader-l1-1-0.dll" />
            </Component>
            <Component Id="cmpBEF6A27D748639F80B483A0A0D5C0E77" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{6CD84DFB-DA58-48F1-8CAF-108DC53B7976}">
                <File Id="filE055CB8E1D86DD8472AF911D7149A56D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-localization-l1-2-0.dll" />
            </Component>
            <Component Id="cmp7E59D20E2AA130FD142F19CBFFC1F5C5" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{2A08A76D-112D-4E56-8263-DBC5699E8F90}">
                <File Id="filBD321F5131A7F38C01D871B00AC01516" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-memory-l1-1-0.dll" />
            </Component>
            <Component Id="cmp04D2C6E688E83E581F9CA45F0E1DE022" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{9FDBA97B-C066-4CF2-AE17-1677601E0950}">
                <File Id="filC02A782171C3EC6ACBFBA25084AE819F" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-namedpipe-l1-1-0.dll" />
            </Component>
            <Component Id="cmp6E99BD957AC0F8F0FE52AD1EEA39030D" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{2963ED15-8ACA-4B9F-9874-B39B54F72D83}">
                <File Id="filF6E9651C24EC31B2B5B8930DF1C31807" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-processenvironment-l1-1-0.dll" />
            </Component>
            <Component Id="cmpE3C34BE00AB59C325280D14DF4F4F497" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{2CE0243E-8DF7-46D0-A663-FA3FE698B9E0}">
                <File Id="fil174F243A97F6CDA2F0588B71DC3E3652" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-processthreads-l1-1-0.dll" />
            </Component>
            <Component Id="cmp27AC3E95291493FB64877FF35B3AD1F6" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{2209C7DA-DEA4-403E-BBCB-F21DE638847C}">
                <File Id="fil32317FA507B9057AC33E529F899755CC" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-processthreads-l1-1-1.dll" />
            </Component>
            <Component Id="cmp1FAADB95EB5EC6D1A516C0B0A6819896" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{3917E944-086A-45D2-88FE-0D9988908871}">
                <File Id="fil37F6682FD6DC0640A08B40194791D885" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-profile-l1-1-0.dll" />
            </Component>
            <Component Id="cmp8A350CA71D134394FF5DECCA16E4BA1E" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{96E665F6-0028-4CAB-8E13-A2C81330742F}">
                <File Id="fil24424B307C80E82285B32CFC65951B35" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-rtlsupport-l1-1-0.dll" />
            </Component>
            <Component Id="cmp2900D6B1FDDC6AAEABE2EE2121AB7ED5" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{916E4831-F906-48E8-9241-40FD0C8A879B}">
                <File Id="fil089E86D093A4D1D861F305274E542EC1" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmpD37279F2D3BEEF9DEA3D8F1E8B68A553" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{F8B4564B-12D1-4364-B500-674E3E9BAE72}">
                <File Id="filB1F7528C8AE1E7A0EFFB456BF74154F1" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-synch-l1-1-0.dll" />
            </Component>
            <Component Id="cmp16FDEEA788802D9979E885CB414BCE11" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{BF4EAB69-CD36-407E-849A-56459F2C8D60}">
                <File Id="fil3F780BC144B7787EEFBE797E8C860FF9" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-synch-l1-2-0.dll" />
            </Component>
            <Component Id="cmp16B01FAA4F9B5D2C2371EB581A9512AA" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{D1A384F3-09D9-4073-8804-0C2A9975FD78}">
                <File Id="filB73D5BEEF8535745A959A79A1DAB141E" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-sysinfo-l1-1-0.dll" />
            </Component>
            <Component Id="cmp80578C545482DA1A51A2B2FB4FCF35EB" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{404CFFB5-CB5C-4A8D-A860-545155396D05}">
                <File Id="fil7960EFBC112AA3034476BB348213E05A" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-timezone-l1-1-0.dll" />
            </Component>
            <Component Id="cmp6708921BCB5DC8F48076A93C4AD5318C" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{3A421649-48BC-4198-9583-91F4E0D2D986}">
                <File Id="fil3C22268795BA40570D22944318D07411" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-core-util-l1-1-0.dll" />
            </Component>
            <Component Id="cmpF225CF78922CDD2D6B718A8D80E81018" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{B2FF225B-3903-4E69-AF77-5343240DAB20}">
                <File Id="fil5E6A4B97E962DFE1EB84F8814BBC7CA6" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-conio-l1-1-0.dll" />
            </Component>
            <Component Id="cmpA256E24D5399A3E9ED66B517D6FAC58B" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{F86055F1-5DFA-4AA2-8915-2D871BBD9385}">
                <File Id="fil3426040BE9AEC40A604C3B0AC1BDB562" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-convert-l1-1-0.dll" />
            </Component>
            <Component Id="cmp0CFCA1B30E72AADB986151D391071AB4" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{8BACCC91-7B6C-4450-82C2-9346CBFA395B}">
                <File Id="filAB5FE81122DE4DC98711C0664E365C95" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-environment-l1-1-0.dll" />
            </Component>
            <Component Id="cmp50C7D05914542EFAB62A97E30524AA66" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{4C03DB84-4A71-40EC-B1AC-6DD03E61352B}">
                <File Id="filFD9A4A63315B454430FE07CE04BA7D76" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-filesystem-l1-1-0.dll" />
            </Component>
            <Component Id="cmp043D2414527779B2C9BACA4CFAB44E83" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{5D2BE839-68E1-4FA7-A362-9989A5276606}">
                <File Id="fil32B546B70B09F08A4476DF5486529416" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-heap-l1-1-0.dll" />
            </Component>
            <Component Id="cmp762D8024A8699108D3764F0ECBEC69B3" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{5B27D9BA-1C29-40BB-A21B-E865D65164B5}">
                <File Id="filF0D9908B5127ECC5A71597D333DD0E56" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-locale-l1-1-0.dll" />
            </Component>
            <Component Id="cmp55D60055A2CECD8CC8A8BFDCD86E7BE7" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{5EBAED20-0378-4CCA-B409-69806CA51F21}">
                <File Id="fil3A827610D5A727D5C32720396C2815BA" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-math-l1-1-0.dll" />
            </Component>
            <Component Id="cmp02E56C63D09DB20DD240DDA5B392590C" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{81225125-E3BB-448B-8CFF-41AC00B0DDB1}">
                <File Id="fil58B17112333DAE8524FD2010D3C807B6" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-process-l1-1-0.dll" />
            </Component>
            <Component Id="cmp2895DED49459B2962D933072FCE8B3D2" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{6252E26A-ABE2-427A-9750-5D2EF9359691}">
                <File Id="fil1106B7DA9DD030C1D56DD55F092E7BDB" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-runtime-l1-1-0.dll" />
            </Component>
            <Component Id="cmp5A6C1B46DC8D7DB36F00B25121D0D3F6" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{1FCCCB5B-9C90-415D-AA60-8C35AD36F43E}">
                <File Id="fil5F760E0265C7AF1280ECCBF226B7819A" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-stdio-l1-1-0.dll" />
            </Component>
            <Component Id="cmp79F887B90576A5F1D5C119045EE03787" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{FE40D679-D8D6-4590-8E74-FE34DFE06522}">
                <File Id="fil85EA1D309B79611A22F0E4F36B59036D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-string-l1-1-0.dll" />
            </Component>
            <Component Id="cmp9995C4D72AD9127FB5468E07D82CF438" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{8ACD8A68-711A-4AA5-9E2E-60C38FE8FCB3}">
                <File Id="fil216BB6F491E2D6EBD7A54FED6DC2F4AD" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-time-l1-1-0.dll" />
            </Component>
            <Component Id="cmp8A722D4F83C8B50D44F70B756358D9D1" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{FF719AC3-92FE-4008-83D9-F7CE849C20AF}">
                <File Id="fil99A5BFD815D61B50E88EA3283F42F13D" KeyPath="yes" Source="SourceDir\PDFrotate\api-ms-win-crt-utility-l1-1-0.dll" />
            </Component>
            <Component Id="cmp3F9CB186EB3C59D641EEE05897CBDC44" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{B64103ED-7192-4D32-B68C-5954B218BF43}">
                <File Id="fil954B282CCFDFA5A10CC7B439F826DF83" KeyPath="yes" Source="SourceDir\PDFrotate\base_library.zip" />
            </Component>
            <Component Id="cmp90070EF428F888C5CE930E63A0E33235" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{0E9FFEB9-AA89-40A9-B211-0C598A494ADF}">
                <File Id="filBBC1B5BB0E386F8477EBCF37F2839B23" KeyPath="yes" Source="SourceDir\PDFrotate\libcrypto-1_1.dll" />
            </Component>
            <Component Id="cmpADB3B056574CB69F4730179A159EC8BD" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{2694A0A0-C4B6-4365-8CAF-24D8D01269FD}">
                <File Id="filE16FEBFA3C42B4807BC5B4B41387FEA5" KeyPath="yes" Source="SourceDir\PDFrotate\libffi-8.dll" />
            </Component>
            <Component Id="cmpA59E14E68FE9D4114E79BDFAD6E26810" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{5BFC9796-F426-4668-ADB4-CD975602129B}">
                <File Id="fil9EC880F12A20F1CBC74CB7BEB3DC8ACC" KeyPath="yes" Source="SourceDir\PDFrotate\libssl-1_1.dll" />
            </Component>
            <Component Id="cmpB7FE81CD25BF530806725077AA130709" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{E2AC3B80-AA0D-4FEF-AD72-8909D01CA7F3}">
                <File Id="fil722F5ABC2B2C996A176818D5F82E9AB5" KeyPath="yes" Source="SourceDir\PDFrotate\PDFrotate.exe" />
            </Component>
            <Component Id="cmp264209042BFDA83334862FFA7C5FA9BC" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{32EB75F1-EF56-457B-B3AC-219321AA6C34}">
                <File Id="filE39DE273E67401444B0208880E7F0EB0" KeyPath="yes" Source="SourceDir\PDFrotate\pyexpat.pyd" />
            </Component>
            <Component Id="cmpCD23C0AFFFF62D011F7712B4C694C55B" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{39A76B35-E5C7-4A42-B0B8-8C7563E3640C}">
                <File Id="fil8F0AA66A64A902132C9011285DE576EC" KeyPath="yes" Source="SourceDir\PDFrotate\python311.dll" />
            </Component>
            <Component Id="cmp5229A5A800068DB5BF71B7D66875A98B" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{4C4FBEE2-2FBA-4F3B-AA2B-50663E4C57F2}">
                <File Id="filD2A925D648238A4AB529A99E2757F546" KeyPath="yes" Source="SourceDir\PDFrotate\select.pyd" />
            </Component>
            <Component Id="cmpCCDB51A17F9D22C263AA1B00B020E2E3" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{195E3F92-5F79-4D95-8221-4EC66EC4CDD8}">
                <File Id="filB33679199416B5FA2E1F13F85AC39645" KeyPath="yes" Source="SourceDir\PDFrotate\ucrtbase.dll" />
            </Component>
            <Component Id="cmpA1756954122D3BE913AA7830692DCB0E" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{978741BD-5990-4301-AF2E-3EAE85D4D219}">
                <File Id="fil1CA5F8859C3DF541974FDC16926F94BE" KeyPath="yes" Source="SourceDir\PDFrotate\unicodedata.pyd" />
            </Component>
            <Component Id="cmp7BFEB278157319FF6701F6A278430F40" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{79441D46-BEEE-4F2E-9327-15C9632A33E4}">
                <File Id="fil61411554B3B2A2FFC201FB34E95D0E2F" KeyPath="yes" Source="SourceDir\PDFrotate\VCRUNTIME140.dll" />
            </Component>
            <Component Id="cmp84F0BA8AF3A0F6200852DDF9F93E7555" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{4D97D112-D71A-41B9-A10B-8A3AE904F2AF}">
                <File Id="fil564EA0B01366C86794942B25CCC62683" KeyPath="yes" Source="SourceDir\PDFrotate\_asyncio.pyd" />
            </Component>
            <Component Id="cmp746DB20B016FE3DBCF678939DAA7D876" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{356202E6-97B7-48F8-BE94-7D46BB8C9347}">
                <File Id="fil64927B2CEB65DFDBD2D897803F21870E" KeyPath="yes" Source="SourceDir\PDFrotate\_bz2.pyd" />
            </Component>
            <Component Id="cmp762D8F85A092320A590211CD92FD10FA" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{69986B1F-EA2C-4B78-80AA-78607FA03B80}">
                <File Id="fil89BA01D6E5512CDFB721A1EC5F45F9CF" KeyPath="yes" Source="SourceDir\PDFrotate\_ctypes.pyd" />
            </Component>
            <Component Id="cmp2D91C3DD422E275C31F154552BE2BE6D" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{5344E0C3-7EE5-447B-B093-6125F8AD513C}">
                <File Id="fil7A6C2D91DA3F0AED02E3454102A1A3B1" KeyPath="yes" Source="SourceDir\PDFrotate\_decimal.pyd" />
            </Component>
            <Component Id="cmp99AF32F3C965FECD26AD312C71E6BADF" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{854793BF-ED51-4205-9E27-367F0D18481C}">
                <File Id="filCEB648E98325248F18E5B2EEA4184B35" KeyPath="yes" Source="SourceDir\PDFrotate\_hashlib.pyd" />
            </Component>
            <Component Id="cmp9F44E42BF92B6D70A2D590A617E96362" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{DDAB8925-CE13-4F2A-B4BA-C84BCDE6397A}">
                <File Id="filE564DA94E920CA4F8AD158419F5A57D4" KeyPath="yes" Source="SourceDir\PDFrotate\_lzma.pyd" />
            </Component>
            <Component Id="cmp382523DB97D7D738E8AA3A55BF4CAB2A" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{3E421DBF-D675-4274-94D2-6CECED8ACBD7}">
                <File Id="fil74BD4DCE741AB2E0AB128F5F6E2C8E91" KeyPath="yes" Source="SourceDir\PDFrotate\_multiprocessing.pyd" />
            </Component>
            <Component Id="cmpEA644E193B442B4CA1F772262C7D5B87" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{1FB24B0B-0477-4638-A0BD-65BB0F49D6C4}">
                <File Id="fil9411450AA97E18E1BD7F8F50A4995DCF" KeyPath="yes" Source="SourceDir\PDFrotate\_overlapped.pyd" />
            </Component>
            <Component Id="cmp0996E2C3FE2E240A0146E713E771B88E" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{0948FB7F-802D-4936-80C4-53BA1D76E20D}">
                <File Id="fil9190C3CC78017F774279216458929087" KeyPath="yes" Source="SourceDir\PDFrotate\_queue.pyd" />
            </Component>
            <Component Id="cmp00F30C9B5C43DCC65576F872B6B3CFAD" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{4EE3AACD-1F3F-4932-95B5-EA9AAA440440}">
                <File Id="fil3E99CD2C3B5535F2D81232CE838C7BF8" KeyPath="yes" Source="SourceDir\PDFrotate\_socket.pyd" />
            </Component>
            <Component Id="cmpAFA33DDF03CEFBCF7DFAC54E1D717606" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{09510C65-2EFA-42CA-8F07-9F22F0044A35}">
                <File Id="fil2531F457C5E5C165D774B4593E8503BF" KeyPath="yes" Source="SourceDir\PDFrotate\_ssl.pyd" />
            </Component>
            <Component Id="cmp7A7266938272D6728FE21AEAB0644ED1" Directory="dir54D9BBBBD641A9D28B652158A7865C91" Guid="{5FE3771B-6611-44F6-A184-4CBF4CF4ED85}">
                <File Id="fil9C10527D5C66AFE74E12071FE5C2DA6B" KeyPath="yes" Source="SourceDir\PDFrotate\_uuid.pyd" />
            </Component>
            <Component Id="cmpE028D136866EFEAEA69B51C95F715E48" Directory="dir857F8710D2CD830D99B8F0804486F688" Guid="{2D734B96-1859-4B95-B1A4-7AD71BFE1D73}">
                <File Id="filFC594285ECB03707320DC4BD4CB39F8D" KeyPath="yes" Source="SourceDir\PDFrotate\certifi\cacert.pem" />
            </Component>
            <Component Id="cmp028698DE6135BC14F4B6641D05311577" Directory="dir857F8710D2CD830D99B8F0804486F688" Guid="{BA47F69F-45F1-441A-8077-20E252AAD40B}">
                <File Id="fil1EF477339C425AFCABD031CFDD2B96BE" KeyPath="yes" Source="SourceDir\PDFrotate\certifi\py.typed" />
            </Component>
            <Component Id="cmp167F24E9EAEA3F8EC7468597CC33C436" Directory="dirD29D87116F6C4934D2372891963C2B73" Guid="{1D61FFFD-4B95-43FF-85C9-B9BFEB572C13}">
                <File Id="filE2892C1BD18D20E4109422F344DB07BF" KeyPath="yes" Source="SourceDir\PDFrotate\fitz\_fitz.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpE9BA25F5505DF76A39EB26C9627ADE15" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{8EB8BCE6-86A2-47E8-9258-19C3CCE300EE}">
                <File Id="filC50C3D44B517AC1E7CC22492A3CAE30E" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\audioplayers_windows_plugin.dll" />
            </Component>
            <Component Id="cmp02D3683CD116652232EC8B739C106EE2" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{C0526170-8139-4529-ADB6-D7AAA03B0630}">
                <File Id="filF1CAD9D997B31BB0A47529339464F7C3" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\flet.exe" />
            </Component>
            <Component Id="cmpE006064B17EFF7E1D3503B4B52A3BA97" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{AEF0A39A-9CB6-40A6-8779-43E146EA892C}">
                <File Id="fil8DA458A2E589793E43F23B8FBAD4410C" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\flutter_windows.dll" />
            </Component>
            <Component Id="cmp6FCEF8129802C215ED1E59E35BE8C60A" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{A07826F5-F2BC-4252-9D87-5C43A52B6CD1}">
                <File Id="fil71B3319290817707B48B0D204A2EEDE3" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\msvcp140.dll" />
            </Component>
            <Component Id="cmp1B7A7DF3DC8EEC8B4BB70EBAC2DC4998" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{499987BD-DA77-4E5A-8E4C-B4246003F83A}">
                <File Id="fil45F7D214C73BA8E9076B7ECA5D172FB6" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\screen_retriever_plugin.dll" />
            </Component>
            <Component Id="cmpC7A0D34AF6821FEFB2AC237F8813423B" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{B5905E89-0E1F-464D-BC5D-A53E18739695}">
                <File Id="fil90CBBFF46823688792DB120BE673477F" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\url_launcher_windows_plugin.dll" />
            </Component>
            <Component Id="cmpBC35164E606A26053E2844BFE7BB4718" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{7555FDD4-F41E-40B2-B4A5-7DB6D6F14930}">
                <File Id="fil39DBCB19DF9335FDDD4D22DD9FED9677" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\vcruntime140.dll" />
            </Component>
            <Component Id="cmp5EB2DC1A4D5FA06CC738CE675037A604" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{650521DC-71DE-45C3-B6A0-F5E4C3EA997F}">
                <File Id="fil3B5C6B75653AFC0FD112F50F03B771DF" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\vcruntime140_1.dll" />
            </Component>
            <Component Id="cmp8C49CC126E5F4526C1BEEA9A2336CF5F" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{9A16D51C-78AE-48E2-A5C0-36341911EC0A}">
                <File Id="fil0CEEFF31379C6CE37633E08086A32748" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\window_manager_plugin.dll" />
            </Component>
            <Component Id="cmpA1786B82DF508FE44238A0AE6E084400" Directory="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Guid="{A9544830-0862-40A7-90B4-093B44467B25}">
                <File Id="fil90DD2622307D4354CBC952650978EEB6" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\window_to_front_plugin.dll" />
            </Component>
            <Component Id="cmpB59BAB127BD1A04F0329FAFE487F9BD5" Directory="dir65934C346B6D47F2443CFA2407D1F231" Guid="{4DD8715D-A0DB-4D3B-8D1A-60D0F3DE12AE}">
                <File Id="filFA4E67EC591C8EDA7D5AD36FAB281D0A" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\app.so" />
            </Component>
            <Component Id="cmpF7990EB59FC8B0BDC9D59376A5A0F5E5" Directory="dir65934C346B6D47F2443CFA2407D1F231" Guid="{43E41FD1-093C-4779-A1CF-385040D7673E}">
                <File Id="filDEE075E9661444DBE78C89452758E4D2" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\icudtl.dat" />
            </Component>
            <Component Id="cmp6ED7FE93E0CDE61F351F5A6FB1698F91" Directory="dir1EE599EE03A8DB235D5D144F660DE113" Guid="{D9AC628F-2246-4215-88A7-BC45A18FC38A}">
                <File Id="fil37558025C32213F3414572ED64043568" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\AssetManifest.json" />
            </Component>
            <Component Id="cmp7305B83B27FDF31E6E0BDF9E02E7B481" Directory="dir1EE599EE03A8DB235D5D144F660DE113" Guid="{B6E062BD-6EEC-4CD4-92F8-D3D47DFA64FE}">
                <File Id="filB79CFE5CD313A156A65C171D69A169C1" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\FontManifest.json" />
            </Component>
            <Component Id="cmp1592924C326A34626A626904C70F75F1" Directory="dir1EE599EE03A8DB235D5D144F660DE113" Guid="{BDA12401-E84A-4842-9635-EEB463D5726E}">
                <File Id="fil43F5CFF7D1340194339B5C6E700A0447" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\NOTICES.Z" />
            </Component>
            <Component Id="cmp762D815CA9EEC0CDB127EB9BE2997190" Directory="dirD62BDC0A08D0E3D7B70CA7EC64A9B14C" Guid="{EABE7920-11C7-4246-8F4D-2A1B271694E9}">
                <File Id="filB4E7269B204C4ED5142A20675CAB18B8" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\fonts\MaterialIcons-Regular.otf" />
            </Component>
            <Component Id="cmp5DD7EBC2F5E504F52B311A4CB37CAE3D" Directory="dir5D3E6E1E5BD294B9305618926B4208FE" Guid="{2FF2C41E-DBEC-4412-85D3-5C6E526AD344}">
                <File Id="fil71CA9B634116AAB2FF24107E1AE13C0A" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_close.png" />
            </Component>
            <Component Id="cmp187C0CD14B77461415CD2824FD266674" Directory="dir5D3E6E1E5BD294B9305618926B4208FE" Guid="{73A101F6-4EEF-469C-89F9-80DFD4BE604F}">
                <File Id="filBA23565AD8269ECF0CE138D02942F6F7" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_maximize.png" />
            </Component>
            <Component Id="cmpF69D82A9B69981A14DF9B74D4CB42689" Directory="dir5D3E6E1E5BD294B9305618926B4208FE" Guid="{F37CAD78-BE2D-43E2-9E5F-8F4353DA3EF3}">
                <File Id="filCDD56EB394FB8A98AB1E22FDA99EB1D7" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_minimize.png" />
            </Component>
            <Component Id="cmpCBC07E379E860B31AC0D8E18229039F1" Directory="dir5D3E6E1E5BD294B9305618926B4208FE" Guid="{15E78368-EC47-4822-B4BF-1F272867C68A}">
                <File Id="filC90497BB93721AFDA32F87288EEBA82F" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\packages\window_manager\images\ic_chrome_unmaximize.png" />
            </Component>
            <Component Id="cmp1F17A4392D4BE9843633E16068F0EC20" Directory="dir0D421A777A3D6437EB027192539FFA0C" Guid="{2A7B1EF6-C915-4CC2-BA60-3A71D98297B9}">
                <File Id="filAC69ACCD21664F2FA0E98FDC80020418" KeyPath="yes" Source="SourceDir\PDFrotate\flet\bin\flet\data\flutter_assets\shaders\ink_sparkle.frag" />
            </Component>
            <Component Id="cmp3FB2CA2729D2350370A3D971B044ED45" Directory="dir702AFBD5B13CDAD144E22160D79A0EF2" Guid="{76D9AB51-1BFE-475D-A5BD-257A56C3FA65}">
                <File Id="filB988EFD22FC537361DAB87AB53D30007" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_imaging.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmp850FF46F9EB72B61E366F9801E61EC56" Directory="dir702AFBD5B13CDAD144E22160D79A0EF2" Guid="{BC762935-C361-46D3-9712-5A1E117B9045}">
                <File Id="filE57B516E8745CC2EF7691E9160A8ED6B" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_imagingcms.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmp4E60C74331CBD5C7D10228C6E182D3BF" Directory="dir702AFBD5B13CDAD144E22160D79A0EF2" Guid="{26A73237-CDFA-49F7-9569-D7226912A42D}">
                <File Id="fil19AFFA3C1642EFC2C088B766A6877C00" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_imagingtk.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpCEF8296482D32277AB76DC222A527E65" Directory="dir702AFBD5B13CDAD144E22160D79A0EF2" Guid="{ED52980C-27AB-4B01-A56D-C5BFB7FC7BDF}">
                <File Id="fil25DE01BADBE8FECDEDD302DE5CF6D37A" KeyPath="yes" Source="SourceDir\PDFrotate\PIL\_webp.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpD33376F11D1D20BEC7A593B636F175FF" Directory="dirDB7255F6C80275C39A95453953BDCBAA" Guid="{E17ED6C1-F6CE-40E0-8B39-79990B7AD176}">
                <File Id="filA8C78866A1FC1027200EA95B3381B312" KeyPath="yes" Source="SourceDir\PDFrotate\websockets\speedups.cp311-win_amd64.pyd" />
            </Component>
            <Component Id="cmpEC4139C5A5596AA4E92A499A36A799DE" Directory="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Guid="{6A4FC46B-13E3-422B-9DB1-4F6595F04E7A}">
                <File Id="fil0568E8D239395D1506F4F0CBA99B42BE" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\INSTALLER" />
            </Component>
            <Component Id="cmpE3C87AC756A0D7E44B064D2852830D51" Directory="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Guid="{DCF635B9-1795-42F1-9531-94BB45DBBA3B}">
                <File Id="filF504152E10714EC94666F15012E57001" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\LICENSE" />
            </Component>
            <Component Id="cmp9C63F29CD1E93D35E17346870A6E5BC2" Directory="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Guid="{154EB1A6-349A-4E4A-8617-2E155A72FD92}">
                <File Id="filD7A18F6A3845CDC31D2CA2A92DA74C9A" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\METADATA" />
            </Component>
            <Component Id="cmp02B655F334EC4838073B505097902C88" Directory="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Guid="{6046A2EF-A1F9-41FF-B7F8-9A8A98E1263D}">
                <File Id="fil9ABE496B59A2513CEC2F8115DB3ADB3A" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\RECORD" />
            </Component>
            <Component Id="cmpBB0D7D147848D5CBEB7852D567AAD5D2" Directory="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Guid="{72065B9A-B4F2-47D9-B913-47753ECC4687}">
                <File Id="fil501636FCB7FC4FA42AD27807738D7FC2" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\top_level.txt" />
            </Component>
            <Component Id="cmpEE4C7AB8AE988BAB0F83E3DBBF618A60" Directory="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Guid="{83BDB895-DD76-4185-B8C8-3D4A88215FDF}">
                <File Id="filF564DEA58F5CB8FB3D279BCADB74E2FF" KeyPath="yes" Source="SourceDir\PDFrotate\websockets-10.4.dist-info\WHEEL" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54D9BBBBD641A9D28B652158A7865C91">
            <Directory Id="dir08BEAE1AF17410BA31C4AFFFA3DD07A7" Name="websockets-10.4.dist-info" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1EE599EE03A8DB235D5D144F660DE113">
            <Directory Id="dir0D421A777A3D6437EB027192539FFA0C" Name="shaders" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1EE599EE03A8DB235D5D144F660DE113">
            <Directory Id="dir1EBB73DD09D0AD91EC4366CD84D39F05" Name="packages" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir65934C346B6D47F2443CFA2407D1F231">
            <Directory Id="dir1EE599EE03A8DB235D5D144F660DE113" Name="flutter_assets" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir94531CA058A953CCD93FFB2369E4DF65">
            <Directory Id="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0" Name="flet" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54D9BBBBD641A9D28B652158A7865C91">
            <Directory Id="dir3840E6E4C07CD601BB6208A910554717" Name="flet" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1EBB73DD09D0AD91EC4366CD84D39F05">
            <Directory Id="dir3E82C3D1799C7090AC9D57EE7D9D2CF6" Name="window_manager" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3E82C3D1799C7090AC9D57EE7D9D2CF6">
            <Directory Id="dir5D3E6E1E5BD294B9305618926B4208FE" Name="images" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir2B60A3C83C9FA382D97ACC4DEAE4C3D0">
            <Directory Id="dir65934C346B6D47F2443CFA2407D1F231" Name="data" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54D9BBBBD641A9D28B652158A7865C91">
            <Directory Id="dir702AFBD5B13CDAD144E22160D79A0EF2" Name="PIL" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54D9BBBBD641A9D28B652158A7865C91">
            <Directory Id="dir857F8710D2CD830D99B8F0804486F688" Name="certifi" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir3840E6E4C07CD601BB6208A910554717">
            <Directory Id="dir94531CA058A953CCD93FFB2369E4DF65" Name="bin" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54D9BBBBD641A9D28B652158A7865C91">
            <Directory Id="dirD29D87116F6C4934D2372891963C2B73" Name="fitz" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir1EE599EE03A8DB235D5D144F660DE113">
            <Directory Id="dirD62BDC0A08D0E3D7B70CA7EC64A9B14C" Name="fonts" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir54D9BBBBD641A9D28B652158A7865C91">
            <Directory Id="dirDB7255F6C80275C39A95453953BDCBAA" Name="websockets" />
        </DirectoryRef>
    </Fragment>
</Wix>